# .env
# __pycache__/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.swp
.pytest_cache/
venv/

# Environment
.env
.env.local
.env*.local

# Database
mysql_data/
*.sqlite3
*.db
*.sql

# Docker
data/
logs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# System
.DS_Store
Thumbs.db
